

.resumePage{
background-image: url(/src/assets/images/trees.png);
display:flex;
flex-direction: column;
background-position:right;
/* padding-top: 40px; */
padding-bottom: 500px;
height:100%;
background-repeat: no-repeat;
}


.pdfResume{
display:flex;
flex-direction:column;
align-items: center;
width:100%;
margin:20px;

}

.centerResume {
    align-items:center;
}

.resumeImg{
    width:70%;
}

.buttonResume {
    color: #FEDC97;
    font-weight: bolder;

}

@media (min-width: 426px){
    .resumePage {
        width:92%;
        flex-direction: row;
    }
    .pdfResume{
        width:75%;

    }
    .rightSlides{
        width:25%;
    }
}