

.resumePage{
background-image: url(/src/assets/images/trees.png);
display:flex;
flex-direction: column;
/* align-items: center; */
background-repeat: no-repeat;
height:100%;

}


.pdfResume{
display:flex;
flex-direction:column;
align-items: center;
width:100%;
margin:10px;


}

.centerResume {
    align-items:center;
}

.resumeImg{
    width:70%;
}


@media (min-width: 426px){
    .resumePage {
        width:92%;
        flex-direction: row;
    }
    .pdfResume{
        width:75%;

    }
    .rightSlides{
        width:25%;
    }
}