.contactMe{
    display:flex;
    width:100%;
    align-items: center;
    background-color: #FEDC97;
    justify-content: space-between;
    border-radius: 15px;

   
}



.email {
    color: #587B7F;
   
} 


.gitHub{

  color: #587B7F
}

.linkedin {
    color: #587B7F
}





@media (min-width: 426px){
    .contactMe{
        width:15%;
        flex-direction:column;
    }
}