* {
    font-family: 'Raleway','Cormorant Garamond', 'Noto Serif Display', 'Poppins', 'Source Sans Pro', sans-serif, serif;
} 

.aboutSab {

width:100%;
display:flex;
flex-direction: column;

}


.introSummary {

width: 100%;
display:flex;
flex-direction: column;
margin:20px;
text-align:left;

}


.skills {
    background-color: #FFE54C;
    border: solid 1px #FEDD00;
    text-align:center;
    align-content: space-between;
     color: #484848;

}



.mission {
    width: 100%;
}


@media (min-width: 426px){
    .aboutSab {
        width:92%;
        flex-direction: row;
    }

.introSummary {
    width:75%;
}
.mission{
    width:25%;
}
}