body {
  font-family: "Raleway", "Cormorant Garamond", "Noto Serif Display", "Poppins",
    "Source Sans Pro", sans-serif, serif;
}

.aboutSab {
  background-image: url(/src/assets/images/trees.png);
  height:100vh;
  background-size: cover;
  background-repeat: repeat;
  flex-direction: column;
  align-items: center;
  display: flex;
 

}


.midSection {
  width: 100vh;
  display: flex;
  flex-direction: column;
  margin: 15px;
  align-items: center;
}

.introSummary {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: left;
  background-color: #7c9885;
  border-radius: 15px;
  color: #fedc97;
  font-weight: bolder;
  padding: 12px;
}

.portfolioImg{
 display: flex;
  margin-top:25px;
  padding-left: 100px;
  border-radius:50px;
 
}
.sabrina {
 border-radius:20px;
 max-height: 340px;
 margin: 25px;



}

.favorites {
display: flex;
flex-direction: row;
}
.dichotomy {
  display: flex;
  justify-content: left;
  background: #fedc97;
  border-color: #fedc97;
  border-radius: 15px;
 height: 100px;
 width: 120px;
 padding: 2px;
 margin: 20px;
 
}

.findingMe{
  display: flex;
  justify-content: center;
  background-color: #fedc97;
  border-radius: 15px;
 height: 100px;
 width: 70px;
 padding: 2px;
 margin: 20px;

}



.skills {
 
  background-color: #fedc97;
  border: solid 1px #fedd00;
  text-align: center;
  align-content: space-between;
  color:#28666e;
  border-radius: 15px;
  
}

.core {
  width: 100%;
  flex-direction: column;
  flex-wrap:wrap;
  background-color: #fedc97;
  text-align: left;
  border-radius: 15px;
  margin-right:15px;


}
.mission {
  text-align: center;
  padding: 30px;
  border-radius: 15px;
  color: #033f63;
  font-weight: bolder;
  flex-direction: column;
  flex-wrap:wrap;
  align-items: center;
}

.values {
  background-color: #7c9885;
  border-radius: 15px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  color: #fedc97;
}

@media (min-width:640px) {
  .aboutSab {
    width: 92%;
    flex-direction: row;
  }

  .midSection {
    width: 75%;
  }
  .core {
    width: 25%;
  }
  .favorites{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
