.projects {

width:100%;
display:flex;
flex-direction: column;
flex-wrap:wrap;

}

.cardsLeft {
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;
}



.cardsRight{
    width:100%;
    display:flex;
    flex-direction: column;
    align-items:center;

}

@media (min-width: 426px){
    .projects {
     width:92%;
        flex-direction: row;
    }
    .cardsLeft {
        width:50%;
    }
    
    
    
    .cardsRight{
        width:50%;
    
    }
}