
.projects {

width:100vh;
display:flex;
flex-direction: column;
flex-wrap:wrap;
background-image: url(/src/assets/images/mountains.png);
background-repeat: no-repeat;
background-position: center;
background-size:cover;
padding-bottom: 400px;

}
.optionBadges{

justify-content: flex-end;
text-align: center;

}    

.carouselCards {
    display:flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-right:150px;
    margin-left:150px;
    border-radius: 100px;

}
span.introductionCards{
    margin:50px;
    flex-direction: row;
    justify-content: space-between;

}
/* .cardsRight{
    width:100%;
    display:flex;
    flex-direction: column;
    margin-top: 50px;
    align-items:center;
    flex-wrap: wrap;

} */

@media (min-width: 640px){
    .projects {
     width:92%;
        flex-direction: row;
        flex-wrap: wrap;
    }
    /* .cardsLeft {
        width:50%;
        flex-wrap: wrap;
    }
    
    
    
    .cardsRight{
        width:50%;
        flex-wrap: wrap;
    
    } */
}