/* body{
  background-color: #e2c044;
  background-image: url(./assets/images/sabsBckgd.png);
  background-size: cover;
  font-family: 'Cormorant Garamond', serif, 'Noto Serif Display', serif, 'Poppins', sans-serif, 'Source Sans Pro', sans-serif;
  background-repeat: no-repeat;
  background-position: center;
} */



/* .oneOnly{
  background-color: #587b7f;

}

.navigation {
background-color: #587b7f;

} */



/* .resumeDirection {



} */

