body{
  background-color: #e2c044;
  background-image:"/src/assets/images/sabsBckgd2.png";
  background-size: 100%;
  width:100%;
  background-repeat: no-repeat;
  /* background-position: center; */
}

 .about{
  /* border: 3px solid black; */
  background-color: #ffffff;

} 


.oneOnly{
  background-color: #587b7f;

}

.navigation {
background-color: #587b7f;

}



/* .resumeDirection {



} */

/* image a class name as well and the resume a class name  */